.one-column:after,
.one-fullwidth-section:after {
    content: "";
    clear: both;
    display: block
}

html body .one-spacer {
    display: block !important;
    clear: both !important;
    margin: 0 !important;
    padding: 0 !important;
    float: none !important;
}

.one-fullwidth-section {
    clear: both;
    display: block;
}

.one-button,
.one-button:hover,
.one-button:focus {
    box-shadow: none;
    text-shadow: none;
    border-style: solid;
    text-decoration: none !important;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding: 0.6em 1em;
    line-height: 1em;
    border-width: 0;
    display: inline-table;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; 
}

.one-button img.one-button-icon-image,
html .one-button span  {
    display: table-cell;
    vertical-align: middle;
}

html .left .one-button span,
html .right .one-button span,
html .one-button span {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    width: auto;
    float: none;
}

.one-button.one-button-left-align img.one-button-icon-image,
.one-button.one-button-left-align i.one-button-icon {
    margin-right: 0.5em;   
}

.one-button.one-button-right-align img.one-button-icon-image,
.one-button.one-button-right-align i.one-button-icon {
    margin-left: 0.5em;   
}

.one-carousel .slick-prev,
.one-carousel .slick-next {
    box-shadow: none;
    text-shadow: none;
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: 3em;
    z-index: 99;
    border: 0;
}
.one-carousel .slick-prev:before, 
.one-carousel .slick-next:before {
    font-size: inherit;
    color: #ececec;
}

.one-icon-box,
.one-icon-box .one-icon-box-main-icon {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
    height: auto;
}
.one-icon-box .one-icon-box-main-icon.icon-active {
    margin-top: -3px
}
.one-icon-box-description {
    margin-top: 0.5em;
}
.one-icon-box-top.icon-align-left,
.one-icon-box-top.icon-align-right {
    display: table;
}
.one-icon-box-top.icon-align-left .one-icon-box-description {
    padding-left: 1em;
}
.one-icon-box-top.icon-align-right .one-icon-box-description {
    padding-right: 1em;
}
.one-icon-box-top.icon-align-left .one-icon-box-description,
.one-icon-box-top.icon-align-right .one-icon-box-description,
.one-icon-box-top.icon-align-left i.one-icon-box-icon,
.one-icon-box-top.icon-align-right i.one-icon-box-icon,
.one-icon-box-top.icon-align-left .one-icon-box-main-icon,
.one-icon-box-top.icon-align-right .one-icon-box-main-icon {
    display: table-cell;
    vertical-align: middle;
}
.one-box-icon-with-background i.one-icon-box-icon,
.one-box-icon-with-background img.one-icon-box-image {
    padding: 0.4em;
    border-style: solid
}
.one-icon-box-top.icon-align-left .one-icon-box-main-icon img,
.one-icon-box-top.icon-align-right .one-icon-box-main-icon img {
    max-width: none;
}

embed,
iframe, 
object {
    border:0;
    box-shadow: none;
    outline: none
}
/**
* Columns
**/
/*columns*/
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven {
    float:left;
    margin-right:10px
}
.one.last,.two.last,.three.last,.four.last,.six.last,.five.last,
.one-column.six + .one-column.six,
.one-column.four + .one-column.four + .one-column.four,
.one-column.three + .one-column.three + .one-column.three + .one-column.three,
.one-column.two + .one-column.two + .one-column.two + .one-column.two + .one-column.two + .one-column.two,
.one-column.one + .one-column.one + .one-column.one + .one-column.one + .one-column.one + .one-column.one + .one-column.one + .one-column.one + .one-column.one + .one-column.one + .one-column.one + .one-column.one {
    margin-right:0px
}
.one-column.one {
    width:7.3%;
}
.one-column.two {
    width: 15.74%;
}
.one-column.three {
    width:24.1%;
}
.one-column.four {
    width:32.59%;
}
.one-column.five {
    width:41.01%;
}
.one-column.six {
    width:49.44%;
}
.one-column.seven { 
    width:57.87%;
}
.one-column.eight { 
    width:66.3%
}
.one-column.nine {
    width:74.79%
}
.one-column.ten {
    width:83.1%
}
.one-column.eleven {
    width:91.5%
}
.one-column.twelve {
    width:100%;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    /* margin-bottom: 1.5em; */
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin: 0;
    margin-right:20px;
    margin-bottom:20px;
}
.gallery-item a, .gallery-item a > img{
    display:block; 
    max-width:100%; 
    height:auto;
    margin: 0 auto;
}
.gallery-columns-2 .gallery-item {
    width: 48.8%;
}

.gallery-columns-3 .gallery-item {
    width: 31.5%;
}

.gallery-columns-4 .gallery-item {
    width: 23.3%;
}

.gallery-columns-5 .gallery-item {
    width: 18.6%;
}

.gallery-columns-6 .gallery-item {
    width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    width: 11.11%;
}

.gallery-caption {
    display: block;
}

.gallery-columns-2 .gallery-item:nth-child(2n+2),
.gallery-columns-3 .gallery-item:nth-child(3n+3),
.gallery-columns-4 .gallery-item:nth-child(4n+4),
.gallery-columns-5 .gallery-item:nth-child(5n+5)
{
    margin-right:0;
}


@media (max-width: 841px) {
    .one-column.one,
    .one-column.two,
    .one-column.three,
    .one-column.four,
    .one-column.five {
        width:49.44%;
    }
    .one-column.six,
    .one-column.seven,
    .one-column.eight,
    .one-column.nine,
    .one-column.ten,
    .one-column.eleven,
    .one-column.twelve {
        width:100%;
        margin-bottom: 1em
    }
    .one-column + .one-column {
        margin-right: 0
    }

    .gallery-columns-2 .gallery-item,
    .gallery-columns-3 .gallery-item,
    .gallery-columns-4 .gallery-item,
    .gallery-columns-5 .gallery-item,
    .gallery-columns-6 .gallery-item,
    .gallery-columns-7 .gallery-item,
    .gallery-columns-8 .gallery-item,
    .gallery-columns-9 .gallery-item {
        width: 48.5%;
        margin-right: 20px;
    }
    .gallery-item + .gallery-item {
        margin-right: 0
    }
}

@media (max-width: 641px) {
    .one-column.one,
    .one-column.two,
    .one-column.three,
    .one-column.four,
    .one-column.five {
        width:100%;
        margin-bottom: 1em
    }
    .one-column {
        margin-right: 0;
    }

    .gallery-columns-2 .gallery-item,
    .gallery-columns-3 .gallery-item,
    .gallery-columns-4 .gallery-item,
    .gallery-columns-5 .gallery-item,
    .gallery-columns-6 .gallery-item,
    .gallery-columns-7 .gallery-item,
    .gallery-columns-8 .gallery-item,
    .gallery-columns-9 .gallery-item {
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 481px) { 
    
}