@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
.app-slick.preview {
    opacity: 0;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none !important;
}

/* Slider */
.slick-loading .slick-list {
    background: #FF0000;
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
}

/* Arrows */
.slick-arrow {
    top: 50%;
    font-size: 0;
    cursor: pointer;
    color: transparent;
    outline: none;
    background: transparent;
    display: flex;
    position: absolute;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 5;
    height: 42px;
    width: 42px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0.5
}

.slick-arrow .arrow {
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    opacity:  0.5;
}

.slick-arrow .arrow.prev-arrow {
    border-left: none;
    border-right: 12px solid #FFF;
}
.slick-arrow .arrow.next-arrow {
    border-left: 12px solid #FFF;
    border-right: none;
}

.slick-arrow:hover,
.slick-arrow:focus {
    color: transparent;
    outline: none;
    opacity: 1;
}

.slick-arrow:hover .prev-arrow,
.slick-arrow:focus .prev-arrow,
.slick-arrow:hover .next-arrow,
.slick-arrow:focus .next-arrow {
    opacity: 1;
}

.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-dots {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    bottom: 4px;
}

.slick-dots li {
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 11px;
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    display: none !important;
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    box-sizing: border-box;
    border-radius: 6px;
    height: 12px;
    width: 12px;
    background-color: white;
}

.slick-dots .slick-active button {
    display: block !important;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: .25;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000000;
}

.carousel .slider li {
    background-color: transparent;
}

.carousel.carousel-slider .control-arrow {
    height: 60px;
    top: calc(50% - 30px);
}

.autoNextDelay {
    height: 36px;
    width: 60px !important;
}

.flexGrow {
    flex-grow: 1;
}

.legend {
    position: absolute;
    color: white;
    background-color: #000000;
    opacity: 0.5;
    border-radius: 0px;
    padding: 5px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-shadow: none;
    font-family: "Arimo", "One Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
    width: 100%;
}

.hideNavigator .slick-arrow {
    z-index: 9;
    cursor: pointer;
    display: none !important;
    box-sizing: border-box;
}

.hideNavigator.showNavigatorOnHover:hover .slick-arrow {
    display: flex !important;
}

.hideIndicator .slick-dots {
    display: none !important;
    z-index: 9;
}

.hideIndicator.showIndicatorOnHover:hover .slick-dots {
    display: block !important;
}

.imageSelected {
    max-height: 140px;
    max-width: 296px;
}

.imageCaption {
    width: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 5px;
    color: white !important;
    z-index: 10;
    min-height: 24px;
}

.imageCaptionTop {
    top: 0px;
}

.imageCaptionMiddle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.imageCaptionBottom {
    bottom: 36px;
}

.imageCaptionBottomNoIndicator {
    bottom: 0px;
}

.imageCaptionLeft {
    text-align: left;
}

.imageCaptionCenter {
    text-align: center;
}

.imageCaptionRight {
    text-align: right;
}
.slick-slider .slick-dots {
    display: none !important;
}
.slick-slider:hover .slick-dots { display: block !important; }
